
@{
    ViewBag.Title = "Index";
}

<h2>This is employeer index area</h2>
<table border="1" class="table table-bordered">
    <tr>
        <td>
            @Html.ActionLink("Go to Main page", "Index", "Home", new { area = "" }, null)
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Go to Employee", "Index", "Home", new { area = "employee" }, null)
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Go to Employeer", "Index", "Home", new { area = "employeer" }, null)
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Go to Admin", "Index", "Home", new { area = "admin" }, null)
        </td>
    </tr>
</table>

